//
// Edit (formulario inciso 1)
// --------------------------------------------------

.lab-form-tabs {
    position: relative;
    &:before {
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        background-color: $gray-light;
        position: absolute;
        top: 50%;
        margin-top: -2px;
    }
    ul {
        position: relative;
        list-style: none;
        margin: 0;
        height: 38px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
}

.lab-form-tab {
    text-align: center;
    cursor: pointer;
    &:before {
        @extend %tick-icon;
        display: block;
    }
    &:hover {
        &:before {
            background-color: $brand-primary;
        }
    }
}
.lab-form-tab-active {
    &:before {
        background-color: $brand-primary;
    }
}
.lab-form-tab-complete {
    &:before {
        background-color: $brand-success;
    }
    &:hover:before {
        background-color: $brand-success;
    }
}
.lab-form-tab-error {
    &:before {
        background-color: $brand-danger;
    }
    &:hover:before {
        background-color: $brand-danger;
    }
}
.lab-form-step-count {
    color: $brand-primary;
    font-size: 0.875rem;
    font-weight: bold;
}
.lab-form-nav {
    text-align: center;
}

.lab-application-number {
    text-align: center;
    background-color: $gray-light;
    color: $brand-primary;
    font-weight: bold;
    border-radius: 2px;
    float: left;
    margin: 1.5rem auto;
    padding: $padding-base;
    &:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
}

#editable-entity {
    display: none;
}