section.cadastro {
    overflow: hidden;
    padding-left: 5px;
    padding-right: 5px;

    header {
        padding-top: 31px;
        padding-bottom: 30px;

        div.intro-message {
            .name {
                color: $brand-secondary;
                font-family: $f_title;
                font-size: $font-size-base;
                letter-spacing: 0;
                line-height: 1.1875rem;
                text-align: center;
            }
        }

    }   

    .cadastro-options {
        h2.featured-title {
            color: #111111;
            font-family: $f_title;
            font-size: $font-size-h3;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 1.9375rem;
            text-align: center;
            margin: 0 25px 40px;
        }

        .opcoes-inciso {
            display: grid;
            grid-template-columns: repeat(1, 100%);
            grid-gap: 30px;
            max-width: calc(100% - 23px);
            margin: 0 auto;
            align-items: flex-start;
            
            @include desktop {
                grid-template-columns: repeat(2, 50%);
                max-width: 58%;
                margin: 0 auto;
            }

            .draf-option {
                a {
                    text-decoration: none;
                }
                div.btn  {
                    width: 80%;
                    margin: 0 auto;
                    display: block;
                    padding: 14px 20px;
                    @include desktop {
                        width: calc(100% - 50px);
                    }
                }
                
            }
        }
    }

    .inactive {
        display: none;
    }
}