section.cadastro {
    header {
        padding-top: 31px;
        padding-bottom: 30px;

        div.intro-message {
            .name {
                color: $brand-secondary;
                font-family: $f_title;
                font-size: $font-size-base;
                letter-spacing: 0;
                line-height: 1.1875rem;
                text-align: center;
            }
        }

    }   

    .cadastro-options {
        h2.featured-title {
            color: #111111;
            font-family: $f_title;
            font-size: $font-size-h3;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 1.9375rem;
            text-align: center;
            margin-bottom: 40px;
        }

        .opcoes-inciso {
            display: grid;
            grid-template-columns: repeat(2, 50%);
            grid-gap: 30px;
            max-width: 70%;
            margin: 0 auto;
            align-items: flex-start;
            
            @include large {
                max-width: 58%;
                margin: 0 auto;
            }

            .draf-option {
                a {
                    text-decoration: none;;
                }

                div.btn  {
                    width: calc(100% - 23px);
                    margin-left: auto;
                    display: block;
                }
            }
        }
    }

    .inactive {
        display: none;
    }
}