article.registration {
    
    background: none;
    float: none;
    margin-left: auto;
    margin-right: auto;

    h1 {
        font-size: $font-size-h3;
        color: #111111;
        line-height: 1.9375rem;
        text-align: center;
        margin-bottom: 35px;
        font-weight: bold;
    }

    .errors {
        text-align:left;
        font-size: 12px;
        color: $brand-tertiary;
        text-align:left;
        a{
            color: $brand-tertiary;
        }
        &-header{
            margin-top:10px;
            margin-bottom:10px;
            text-align:center;
            color: $brand-tertiary;
            &-title{
                font-size: 14px;
                font-weight: bolder;
                font-family: "Open Sans", Helvetica, Arial, sans-serif;
            }
        }
        &-field{
            color: $brand-tertiary;
            font-weight: normal;
        }
    }


    #editable-entity{
        visibility: hidden;
    }
    .registration-header {
        display: none;
    }

    .registration-help {
        text-align: center;
    }

    .edit-box {
        border-radius: 14px;

        @include tablet {
            width: calc(100vw - 100px)!important;
            margin: 0 auto!important;
        }

        header {
            h1 {
                font-size: 16px;
                line-height: 22px;
                margin-bottom: 10px;
            }
        }

        .mc-cancel {
            background-color: #efefef;
            color: #2d2d2d;

            &:hover {
                background-color: #2d2d2d;
                color: #efefef;
            }
        }

        .submit-attach-opportunity {
            @extend .btn;
            margin-bottom: 0;
        }
    }
    
    .registration-fieldset {
        @extend .card;
        
        &:last-of-type{
            box-shadow: none;
            border: 0;
            background-color: transparent;
            text-align: center;
        }

        &:first-of-type {
            h4 {
                font-weight: bold;
            }

            h4, .registration-id  {
                color: #111111;
                font-family: $f_body;
                font-size: $font-size-base;
                letter-spacing: 0;
                line-height: 1.375rem;
            }
        }

        .attachment-list .attachment-list-item .btn-group {
            position: initial;
        }

        .alert.danger {
            background: none;
            border: 0;
            margin-bottom: 0;
            padding-bottom: 0;
        }

        ul {
            li {
                padding: 0;
                border-bottom: 0;
                padding-bottom: 35px;

                &.attachment-list-item-type-section {
                    padding-top: 0;
                    margin-bottom: 40px;

                    .label {
                        font-size: $font-size-base;
                    }
                }

                // Label dos campos
                span.label {
                    color: #111111;
                    font-family: "Open Sans";
                    font-size: $font-size-base;
                    font-weight: lighter;
                    text-transform: capitalize;
                    word-wrap: break-word;
                }

                // Descrição dos campos
                .attachment-description {
                    color: #111111;
                    font-family: "Open Sans";
                    font-size: 11px;
                    line-height: $line-height-base;
                    margin: 15px 0 10px;
                }

                textarea {
                    width: 100%
                }

                &.attachment-list-item-type-checkboxes {
                    p {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);

                        label  {
                            display: flex;
                            align-items: center;

                            input[type="checkbox"] {
                                margin-right: 5px;
                                width: auto;
                            }
                        }
                    }
                }

                

                select {
                    width: 100%;
                    height: 51px;
                    padding-right: 8px;
                }
                
                .field-location {
                    .field-En_CEP, .field-En_Bairro {
                        width: 100%;
                    }
                    
                    section {
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        grid-gap: 15px;

                        p {
                            label {
                                select {
                                    width: 100%;
                                    height: 51px;
                                }
                                
                            }
                        }
                    }
                }

                input {
                    width: 100%;
                }
            }
            
        }

    }
}