
#editable-entity{
    border-left: none!important;
    background: transparent!important;
    margin: 0 !important;
    box-shadow:none;

    .alert {
        margin-top: 50px;
        margin-bottom: -50px;
    }
}

h2.category {
    font-size: 1em;
    text-align: center;
}

h2.category {
    font-size: 1em;
    text-align: center;
}

article.registration {
    
    background: none;
    float: none;
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word;

    h1 {
        font-size: $font-size-h3;
        color: #111111;
        line-height: 1.9375rem;
        text-align: center;
        margin-bottom: 35px;
        padding-top: 35px;
        font-weight: bold;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .registration-fieldset  {
        ul {
            li {   
                .relation-field-info, .icon-agent  {
                    display: none;
                }

                > div {
                    > span:first-of-type {
                        display: flex;
                        justify-content: space-between;
                        
                        span:last-of-type {
                            color: #C60931;
                            font-size: 11px;
                            letter-spacing: 0;
                            line-height: 15px;
                            text-transform: lowercase;

                            &:before {
                                content: "*"
                            }
                        }
                    }

                }

                .alert {
                    padding: 0;
                    padding-left: 40px;

                    &:before {
                        content: "\f071";
                        font-weight: 600;
                        font-family: "Font Awesome 5 Free";
                    }
                }

                &.attachment-list-item-type-checkbox  {
                    label  {
                        display: grid;
                        grid-template-columns: 25px auto;

                        input {
                            width: auto;
                            margin-top: 5px;
                        }
                    }

                    > div  {
                        display: flex;
                        flex-direction: column-reverse;
                        align-items: flex-end;

                        span:last-child {
                            color: #C60931;
                            font-size: 11px;
                            letter-spacing: 0;
                            line-height: 15px;
                            text-transform: lowercase;
                            margin-bottom: 15px;
                        }
                    }

                    div.invalidField {
                        border: 2px solid rgba(198, 9, 49, 1);
                        padding: 14px;
                        border-radius: 10px;
                        background-color: rgba(198, 9, 49, 0.02);
                        
                    }
                    
                }

                div.invalidField {
                    input, select, textarea {
                        border: 1px solid #C60931;
                        border-radius: 2px;
                        background-color: rgba(198, 9, 49, 0.02);
                    }
                }
            }
        }
        &.registration-fieldset-moderator {

            .each-line {
                display: block;
                margin-bottom: 15px;
                clear: both;
                width: 100%;

                span {
                    color: #666666;
                    font-size: 1rem;

                    &.label {
                        color: #333;
                        display: block;
                        font-weight: bold;
                        margin-bottom: 5px;
                        width: 100%;
                    }

                    span.required {
                        color: #C60931;
                        float: right;
                        font-size: 11px;
                        font-weight: normal;
                        letter-spacing: 0;
                        line-height: 15px;
                        text-transform: lowercase;
                        padding-top: 3px;
                    }
                }

                .description {
                    display: block;
                    color: #333;
                    font-family: "Open Sans";
                    font-size: 11px;
                    line-height: 1.5rem;
                    margin: 0 0 10px;
                    width: 100%;
                }

                .input-text {
                    width: 100%;
                }

                &:nth-last-child(1) {
                    margin-bottom: 0;
                }

            }

            .buttons {
                box-sizing: border-box;
                float: left;
                margin-bottom: 5px;
                padding-right: 15px;
                width: 50%;

                &:nth-child(2) {
                    padding-left: 15px;
                    padding-right: 0;
                    @include mobile-only {
                        padding-left: 0;
                        padding-right: 0;
                    }
                }

                #mediacao-autorizacao,
                #mediacao-documento {
                    text-align: center;

                    @include mobile-only {
                        margin-bottom: 15px;
                    }

                    a {
                        font-weight: lighter;
                    }
                }

                @include mobile-only {
                    float: none;
                    padding-left: 0;
                    padding-right: 0;
                    width: 100%;
                }

                .btn.btn-default {
                    width: 100%;

                    &:hover {
                        background-color: var(--primary-button-bg-color);
                        opacity: 0.85;
                    }
                }

                // popup de upload
                #editbox-upload-document,
                #editbox-upload-autorizacao {
                    input[type="file"] {
                        padding-top: 12px;
                    }

                    footer {
                        button {
                            float: left;
                            margin-bottom: 10px;
                            margin-right: 15px;
                            width: calc(50% - 15px);

                            @include mobile-only {
                                float: none;
                                margin-left: 0;
                                margin-right: 0;
                                width: 100%;
                            }

                            &:nth-child(2) {
                                margin-left: 15px;
                                margin-right: 0;

                                @include mobile-only {
                                    margin-left: 0;
                                    margin-right: 0;
                                }
                            }

                            &.mc-submit {
                                background-color: var(--primary-button-bg-color);
                                border: 0;
                                border-radius: 10px;
                                color: #fff;
                                cursor: pointer;
                                display: inline-block;
                                font-family: "aleo",
                                serif;
                                font-size: 1rem;
                                font-weight: bold;
                                height: auto;
                                line-height: 1.4;
                                margin-top: 5px;
                                padding: 14px 50px;
                                text-align: center;
                                transition: all 0.3s;
                                white-space: inherit;
                                text-decoration: none;

                                &:hover {
                                    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
                                    opacity: 0.85;
                                }
                            }
                        }
                    }

                    .mc-arrow {
                        display: none;
                    }
                }
            }
        } // &.registration-fieldset-moderator
    }

    .errors {
        text-align:left;
        font-size: 12px;
        color: $brand-tertiary;
        text-align:left;
        word-wrap: break-word;
        a{
            color: $brand-tertiary;
        }
        &-header{
            margin-top:10px;
            margin-bottom:10px;
            text-align:center;
            color: $brand-tertiary;
            &-title{
                font-size: 14px;
                font-weight: bolder;
                font-family: "Open Sans", Helvetica, Arial, sans-serif;
            }
        }
        &-field{
            color: $brand-tertiary;
            font-weight: normal;
        }
    }

    .registration-header {
        display: none;
    }

    .registration-help {
        text-align: center;
    }

    .edit-box {
        border-radius: 14px;

        @include tablet {
            width: calc(100vw - 100px)!important;
            margin: 0 auto!important;
        }

        header {
            h1 {
                font-size: 16px;
                line-height: 22px;
                margin-bottom: 10px;
            }
        }

        .mc-cancel {
            background-color: #efefef;
            color: #2d2d2d;

            &:hover {
                background-color: #2d2d2d;
                color: #efefef;
            }
        }

        .submit-attach-opportunity {
            @extend .btn;
            margin-bottom: 0;
        }
    }
    
    .registration-fieldset {
        @extend .card;
        
        &:last-of-type{
            box-shadow: none;
            border: 0;
            background-color: transparent;
            text-align: center;
        }

        &:first-of-type {
            h4 {
                font-weight: bold;
            }

            h4, .registration-id  {
                color: #111111;
                font-family: $f_body;
                font-size: $font-size-base;
                letter-spacing: 0;
                line-height: 1.375rem;
            }
        }

        .attachment-list .attachment-list-item .btn-group {
            position: initial;
        }

        .alert.danger {
            display: none!important;
            background: none;
            border: 0;
            margin-bottom: 0;
            padding-bottom: 0;
        }

        ul {
            li {
                padding: 0;
                border-bottom: 0;
                padding-bottom: 35px;

                &.attachment-list-item-type-section {
                    padding-top: 0;
                    margin-bottom: 40px;

                    .label {
                        font-size: $font-size-base;
                    }
                }

                // Label dos campos
                span.label {
                    color: #111111;
                    font-family: "Open Sans";
                    font-size: $font-size-base;
                    font-weight: lighter;
                    text-transform: capitalize;
                    word-wrap: break-word;
                }

                // Descrição dos campos
                .attachment-description {
                    color: #111111;
                    font-family: "Open Sans";
                    font-size: 11px;
                    line-height: $line-height-base;
                    margin: 15px 0 10px;
                }

                textarea {
                    width: 100%
                }

                &.attachment-list-item-type-checkboxes {
                    p {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-row-gap: 15px;

                        @include tablet {
                            grid-template-columns: auto;
                        }

                        label  {
                            display: flex;
                            align-items: flex-start;

                            input[type="checkbox"] {
                                margin-right: 5px;
                                margin-top: 5px;
                                width: auto;
                            }
                        }
                    }
                }

                

                select {
                    width: 100%;
                    height: 51px;
                    padding-right: 8px;
                }
                
                .field-location {
                    .field-En_CEP, .field-En_Bairro {
                        width: 100%;
                    }
                    
                    section {
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        grid-gap: 15px;

                        p {
                            label {
                                select {
                                    width: 100%;
                                    height: 51px;
                                }
                                
                            }
                        }
                    }
                }

                input {
                    width: 100%;

                    &[type='checkbox'] {
                        width: auto;
                    }
                }
            }
            
        }

    }
}