footer#main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--footer-background);
    color: var(--footer-color);
    height: 70px;
    margin-top: 30px;
    padding: 5px 20px 5px 5px;
    position: relative;
    @include box-shadow(0, 0, 5px, #999);

    @media (max-width: 400px) {
        height: auto;
        padding: 5px;
    }

    a {
        color: var(--footer-color);
        display: inline-block;

        &.terms-conditions {
            @media (min-width: 777px) and (max-width: 998px) {
                float: right;
                margin-top: 9px;
                margin-left: auto;
            }
            @media (max-width: 776px) {
                display: none;
            }
        }

    }

    .logo-state {
        float: left;
        height: auto;
        margin: 0 auto;
        max-width: 250px;
        @include transition(all, 0.3s, ease-in-out);
        width: auto;
        padding-top: 20px;
        margin: 0;

        img {
            max-height: 68px;
        }

        @include mobile {
            width: 40%;
        }

        @media (max-width: 400px) {
            float: none;
            margin-top: 10px
        }
    }
    .credits {
        float: right;
        color: var(--footer-color);
        font-family: $f_body;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 19px;
        text-align: right;
        max-width: 220px;
        margin-top: 17px;

        a {
            text-decoration: none;
        }
    
        a.hacklab {
            span {
                margin-left: -3px;
                color: #DD4B39;
            }
        }

        @media (min-width: 777px) and (max-width: 998px) {
            margin-top: 5px;
            max-width: 60%;
        }

        @media (max-width: 400px) {
            font-size: 12px;
            margin-top: 5px;
            max-width: 100%;
            text-align: center;
            width: 100%;
        }

    }

}
.support {
    background-color: $gray-lighter;
    box-sizing: border-box;
    color: $gray-dark;
    display: block;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 20px;
    width: 100%;
    text-align: center;

    .link{
        font-weight: bold;
    }
}
.zammad-chat{
    z-index: 9999!important;
}
.terms-conditions{
    margin-top: 22px;
    margin-left: 11%;
    @include mobile {
        display: none;
    }
}

/* Fixed footer */
body.controller-aldirblanc {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
body.controller-aldirblanc #main-section {
    flex: 1;
}