footer#main-footer {
    background-color: var(--footer-background);
    height: 60px;
    margin-top: 30px;
    padding: 10px 20px 10px 10px;
    position: relative;
    @include box-shadow(0, 0, 5px, #999);

    a {
        color: black;
        display: inline-block;

        &.terms-conditions {
            margin-top: 20px;
        }
    }

    .logo-state {
        float: left;
        height: auto;
        margin: 0 auto;
        max-width: 200px;
        @include transition(all, 0.3s, ease-in-out);
        width: auto;

        @include mobile{
            width: 40%;
        }
    }
    .credits {
        float: right;
        color: #111111;
        font-family: $f_body;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 19px;
        text-align: right;
        max-width: 220px;
        margin-top: 9px;

        a {
            text-decoration: none;
        }
    
        a.hacklab {
            span {
                margin-left: -3px;
                color: #DD4B39;
            }
        }
    }

}
.support {
    background-color: $gray-lighter;
    box-sizing: border-box;
    color: $gray-dark;
    display: block;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 20px;
    width: 100%;
    text-align: center;

    .link{
        font-weight: bold;
    }
}

.terms-conditions{
    margin-top: 22px;
    margin-left: 11%;

    @include mobile {
        display: none;
    }
}

/* Fixed footer */
body.controller-aldirblanc {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
body.controller-aldirblanc #main-section {
    flex: 1;
}