header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 78px;

    &#main-header {
        background-color: var(--header-background);
        border-top: 0px;
    }

    .logo-state {
        height: auto;
        padding: 10px;
        width: 200px;
        filter: invert(1) brightness(10);
        @include transition(all, 0.3s, ease-in-out);

        @include tablet {
            display: none;
        }
    }

    .logo {
        width: 360px;
        height: auto;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: -0px;
        
        @include mobile {
            max-width: 100%;
            position: unset;
            transform: none;

            img {
                display: block;
                margin: 0 auto;
            }
        }
    
    }

    .logout {
        height: 100%;
        padding: 0 15px;
        position: absolute;
        right: 0;
        top: 0;

        i {
            width: 100%;
        }

        a {
            color: white;
            display: block;
            margin-top: 15px;
            text-align: center;
            @include transition(all, 0.3s, ease-in-out);
            width: 100%;
            &:hover {
                text-decoration: none;
                @include opacity(0.85);
            }
        }
    }

    .intro-message {
        width: 100%;
        text-align: center;
    }
}