.termos {
    padding-top: 10px;

    h2 {
        font-family: $headings-font-family;
        text-align: center;
        font-weight: bold;
        padding-top: 20px;
        margin: auto;

        @include desktop {
            width: 50%;
        }
    }

    &--summay {
        font-family: $headings-font-family;
        text-align: center;
        margin: auto;
        padding-left: 8%;
        padding-right: 8%;

        @include desktop {
            width: 50%;
        }
    }

    &--list {
        margin: auto;

        @include desktop {
            width: 40%;
        }
    }

    &--text {
        line-height: 17px;
    }

    &--nav-terms {
        display: flex;
        justify-content: center;
    }
}