@charset "UTF-8";

.controller-aldirblanc h1,
.controller-aldirblanc h2,
.controller-aldirblanc h3,
.controller-aldirblanc h4,
.controller-aldirblanc h5,
.controller-aldirblanc h6 {
  text-align: center;
}

.controller-aldirblanc h2,
.controller-aldirblanc h3,
.controller-aldirblanc h4,
.controller-aldirblanc h5,
.controller-aldirblanc h6 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

@media screen and (max-width: 767px) {
  #main-section {
    margin-top: 38px;
  }
}

.lab-main-content {
  display: flex;
  box-sizing: border-box;
  flex-flow: column wrap;
  min-height: calc(100vh - 4.875rem);
  line-height: 1.5;
  padding: 0 1.5rem;
}

.lab-main-content header {
  text-align: center;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 768px) {
  .lab-main-content {
    background-image: url(/assets/aldirblanc/img/homepage_header_background.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    width: 75%;
    max-width: 960px;
    margin: 0 auto;
  }

  .lab-main-content header {
    padding-top: 23%;
    height: 0;
    position: relative;
  }

  .lab-main-content header div {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

.btn-lab {
  min-width: 80px;
  color: #3a72bc;
  background-color: #e2e2e2;
  border: 1px solid #e2e2e2;
}

.btn-lab:hover,
.btn-lab:active {
  color: #fff;
  background-color: #3a72bc;
  border: 1px solid #3a72bc;
}

.intro-message {
  text-align: center;
}

.screen-reader-text {
  display: inline-block;
}

.lab-form-tab:before,
#termos .check-label-box:after {
  display: block;
  content: "N";
  width: 36px;
  height: 36px;
  font-family: "ElegantIcons";
  line-height: 36px;
  text-align: center;
  border-radius: 18px;
  color: #fff;
  background-color: #e2e2e2;
}

.lab-form-answer {
  position: relative;
  background: #f8f8f8;
  padding: 0.75rem 0.75rem 2.5rem;
  border-radius: 2px;
}

@media screen and (min-width: 768px) {
  .lab-form-answer {
    padding: 1.5rem;
  }
}

.lab-back {
  position: absolute;
  left: 0.75rem;
  bottom: 0.75rem;
}

@media screen and (min-width: 768px) {
  .lab-back {
    left: 1.5rem;
    bottom: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .lab-form-filter {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }
}

.lab-option {
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem;
  margin: 0 0 2px;
  background-color: #f8f8f8;
  border-radius: 2px;
  transition: all 0.3s;
  color: #3a72bc;
  font-weight: normal;
}

@media screen and (min-width: 768px) {
  .lab-option {
    flex-flow: column nowrap;
    justify-content: space-between;
    flex: 1 1 0;
    margin: 0 2px;
    padding: 1.5rem;
  }
}

.lab-option a {
  color: #3a72bc;
  font-weight: normal;
}

.lab-option a:hover {
  text-decoration: none;
}

.lab-option:before {
  display: block;
  content: "N";
  width: 36px;
  height: 36px;
  flex: 36px 0 0;
  margin: 0 10px 0 0;
  font-family: "ElegantIcons";
  line-height: 36px;
  text-align: center;
  border-radius: 18px;
  color: #fff;
  background-color: #e2e2e2;
}

@media screen and (min-width: 768px) {
  .lab-option:before {
    order: 3;
    margin: 0 auto;
  }
}

.lab-option:hover {
  background-color: #fff;
  cursor: pointer;
}

.lab-option:hover:before,
.lab-option:active:before {
  color: #fff;
  background-color: #3a72bc;
}

.lab-option h2 {
  font-size: 1.2rem;
}

.lab-option h3 {
  font-size: 1rem;
}

.lab-option h2,
.lab-option h3 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  text-align: left;
  max-width: calc(100% - 46px);
}

@media screen and (min-width: 768px) {
  .lab-option h2,
  .lab-option h3 {
    text-align: center;
    max-width: unset;
  }
}

.lab-status,
.lab-status-waiting,
.lab-status-denied,
.lab-status-approved {
  color: inherit;
}

.lab-status:before,
.lab-status-waiting:before,
.lab-status-denied:before,
.lab-status-approved:before {
  color: #fff;
}

.lab-status h2,
.lab-status-waiting h2,
.lab-status-denied h2,
.lab-status-approved h2 {
  color: #fff;
  padding: 6px;
  border-radius: 2px;
}

.lab-status-approved:hover {
  background-color: #b3e6b3;
}

.lab-status-approved:before,
.lab-status-approved:hover:before {
  content: "\E0DD";
  background-color: #66cc66;
}

.lab-status-approved h2 {
  background-color: #66cc66;
}

.lab-status-denied:hover {
  background-color: #e69999;
}

.lab-status-denied:before,
.lab-status-denied:hover:before {
  content: "\E0F1";
  background-color: #cc3333;
}

.lab-status-denied h2 {
  background-color: #cc3333;
}

.lab-status-waiting:hover {
  background-color: #e6cc99;
}

.lab-status-waiting:before,
.lab-status-waiting:hover:before {
  content: "\E02D";
  background-color: #cc9933;
}

.lab-status-waiting h2 {
  background-color: #cc9933;
}

.lab-option-detail {
  display: none;
  font-size: 0.875rem;
  text-align: left;
  padding-left: 46px;
}

@media screen and (min-width: 768px) {
  .lab-option-detail {
    display: block;
    text-align: center;
    padding-left: 0;
  }
}

.lab-option-detail .label {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.7rem;
}

.questions h1,
.questions h2,
.questions h3,
.questions h4,
.questions h5 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
}

.questions .questions-tab h4 {
  font-size: 1.8rem;
  border-bottom: 2px solid #f8f8f8;
  margin-bottom: 10px;
  margin-top: 2rem;
  line-height: 2rem;
}

.questions .questions-tab-summary {
  margin: 10px;
  font-size: 1rem;
}

.questions .options-questions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.questions .options-questions label {
  width: 300px;
  padding: 0.75rem;
  background-color: #f8f8f8;
  border-radius: 2px;
  transition: all 0.3s;
  color: #3a72bc;
  font-weight: normal;
  font-size: 0.85rem;
  margin: 1rem;
}

.questions .options-questions label:before {
  display: block;
  content: "N";
  width: 36px;
  height: 36px;
  flex: 36px 0 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  font-family: "ElegantIcons";
  line-height: 36px;
  text-align: center;
  border-radius: 18px;
  color: #fff;
  background-color: #e2e2e2;
}

.questions .options-questions label:hover {
  background-color: #fff;
  cursor: pointer;
}

.questions .options-questions label:hover:before,
.questions .options-questions label:active:before {
  color: #fff;
  background-color: #3a72bc;
}

.questions input[type=radio] {
  visibility: hidden;
}

.inactive {
  display: none;
}

.selected {
  background-color: #fff !important;
}

.selected:before,
.selected:before {
  color: #fff !important;
  background-color: #3a72bc !important;
}

.select2-container {
  max-width: 90%;
  width: 50% !important;
}

@media screen and (max-width: 768px) {
  .select2-container {
    width: 80% !important;
  }
}

@media screen and (max-width: 982px) {
  .lab-main-content {
    display: block !important;
  }
}

#selecionar-agentes .title-section {
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 80%;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  background: #639FF9;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
  #selecionar-agentes .title-section {
    font-size: 16px;
  }
}

#selecionar-agentes #agentes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

#selecionar-agentes #agentes p {
  margin-bottom: 0 !important;
}

#selecionar-agentes #agentes .wrapper {
  flex: 1 0 40%;
  width: 200px;
  cursor: pointer;
  background: #FDFEFF;
  transition: all 0.4s ease-in-out;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
}

#selecionar-agentes #agentes .wrapper .profile {
  margin-top: 0.2em;
  position: relative;
}

#selecionar-agentes #agentes .wrapper .profile .thumbnail {
  width: 124px;
  height: 124px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
  border-radius: 100%;
  box-shadow: 0 13px 26px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.2);
}

#selecionar-agentes #agentes .wrapper .profile .name {
  color: #2D354A;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

#selecionar-agentes #agentes .wrapper .profile .title {
  color: #7C8097;
  font-size: 0.75em;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

#selecionar-agentes #agentes .wrapper .profile .description {
  color: #080911;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 0.8em;
}

#selecionar-agentes .btn {
  color: #fff;
  width: 130px;
  height: 42px;
  outline: none;
  border: none;
  display: block;
  cursor: pointer;
  font-weight: 300;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 70px;
  box-shadow: 0 13px 26px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.16);
  background: linear-gradient(to bottom right, #3a72bc, #639FF9);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  background-color: transparent;
  border: none !important;
  box-shadow: none !important;
}

@media screen and (max-width: 768px) {
  .modal {
    top: 10%;
  }
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  text-align: center;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border: none;
  border-radius: 10px;
  border-top: 4px solid #3a72bc;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.selected-card {
  transform: scale(1.05);
  background: rgba(99, 159, 249, 0.2) !important;
}

@media screen and (max-width: 1366px) and (min-width: 768px) {
  .main-content {
    width: 100% !important;
    margin-left: 0;
    margin-right: 0;
  }
}

#termos .list {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  justify-content: center;
  padding: 0;
  border-radius: 2px;
  list-style: none;
  overflow: hidden;
}

#termos .list .list-item {
  margin: 0 0 2px;
  position: relative;
  background-color: #f8f8f8;
  font-size: 0.875rem;
}

#termos .list .list-item:hover {
  background-color: #fff;
}

#termos .list .list-item:hover .check-label-box:after {
  background-color: #ccc;
}

#termos .hidden-box {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  opacity: 0;
}

#termos .check-label {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

#termos .check-label-box {
  display: flex;
  flex: 0 0 36px;
  align-self: center;
  height: 36px;
  width: 36px;
  margin: 0 1.5rem;
  cursor: pointer;
}

#termos .check-label-text {
  display: flex;
  align-self: center;
  position: relative;
  cursor: pointer;
  padding: 1.5rem;
  width: 90%;
}

#termos .check-label-text:after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 70%;
  left: 7.5%;
  transform: translateY(-50%);
  transition: width 100ms ease-in-out;
}

#termos .hidden-box:checked + .check-label {
  background-color: #d7e3f3;
}

#termos .hidden-box:checked + .check-label .check-label-box:after {
  background-color: #3a72bc;
}

#termos .nav-terms {
  text-align: right;
}

#termos .modal {
  display: none;
  position: fixed;
  z-index: 1;
  background-color: transparent;
  border: none !important;
  box-shadow: none !important;
}

@media screen and (max-width: 768px) {
  #termos .modal {
    top: 10%;
  }
}

#termos .modal-content {
  background-color: #fff3cd !important;
  margin: 15% auto;
  text-align: center;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border: none;
  border-radius: 10px;
  border-top: 4px solid #3a72bc;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

#termos .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#termos .close:hover,
#termos .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.lab-form-tabs {
  position: relative;
}

.lab-form-tabs:before {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #e2e2e2;
  position: absolute;
  top: 50%;
  margin-top: -2px;
}

.lab-form-tabs ul {
  position: relative;
  list-style: none;
  margin: 0;
  height: 38px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.lab-form-tab {
  text-align: center;
  cursor: pointer;
}

.lab-form-tab:before {
  display: block;
}

.lab-form-tab:hover:before {
  background-color: #3a72bc;
}

.lab-form-tab-active:before {
  background-color: #3a72bc;
}

.lab-form-tab-complete:before {
  background-color: #66cc66;
}

.lab-form-tab-complete:hover:before {
  background-color: #66cc66;
}

.lab-form-tab-error:before {
  background-color: #cc3333;
}

.lab-form-tab-error:hover:before {
  background-color: #cc3333;
}

.lab-form-step-count {
  color: #3a72bc;
  font-size: 0.875rem;
  font-weight: bold;
}

.lab-form-nav {
  text-align: center;
}

.lab-application-number {
  text-align: center;
  background-color: #e2e2e2;
  color: #3a72bc;
  font-weight: bold;
  border-radius: 2px;
  float: left;
  margin: 1.5rem auto;
  padding: 0.75rem;
}

.lab-application-number:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#editable-entity {
  display: none;
}

