@charset "UTF-8";

@media screen and (max-width: 767px) {
  #main-section {
    margin-top: 38px;
  }
}

.screen-reader-text {
  display: inline-block;
}

.lab-main-content {
  display: flex;
  box-sizing: border-box;
  flex-flow: column wrap;
  min-height: calc(100vh - 4.875rem);
  line-height: 1.5;
  padding: 0 1.5rem;
}

@media screen and (min-width: 768px) {
  .lab-main-content {
    background-image: url(/assets/aldirblanc/img/homepage_header_background.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    width: 75%;
    max-width: 960px;
    margin: 0 auto;
    padding-top: 6rem;
  }
}

.lab-main-content .box {
  text-align: center;
}

#lab-status .box {
  background-color: #fff;
  border-radius: 2px;
}

.lab-form-question {
  font-size: 1.8rem;
  border-bottom: 2px solid #f8f8f8;
}

.lab-form-question .icon-help {
  font-size: 1rem;
  line-height: 1;
  vertical-align: super;
  text-align: center;
  height: 1rem;
  width: 1rem;
  border-radius: 0.5rem;
  color: #ccc;
  background: white;
}

.lab-form-question .icon-help:focus {
  color: #3a72bc;
}

@media screen and (min-width: 768px) {
  .lab-form-question .icon-help {
    display: none;
  }
}

.lab-form-answer {
  position: relative;
  background: #f8f8f8;
  padding: 0.75rem 0.75rem 2.5rem;
  border-radius: 2px;
}

@media screen and (min-width: 768px) {
  .lab-form-answer {
    padding: 1.5rem;
  }
}

.lab-back {
  position: absolute;
  left: 0.75rem;
  bottom: 0.75rem;
}

@media screen and (min-width: 768px) {
  .lab-back {
    left: 1.5rem;
    bottom: 1.5rem;
  }
}

.btn-boolean {
  min-width: 80px;
  color: #3a72bc;
  background-color: #e2e2e2;
  border: 1px solid #e2e2e2;
}

.btn-boolean:hover,
.btn-boolean:active {
  color: #fff;
  background-color: #3a72bc;
  border: 1px solid #3a72bc;
}

@media screen and (min-width: 768px) {
  .lab-form-filter {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }
}

.lab-option {
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem;
  margin: 0 0 2px;
  background-color: #f8f8f8;
  border-radius: 2px;
  transition: all 0.3s;
  color: #3a72bc;
  font-weight: normal;
}

@media screen and (min-width: 768px) {
  .lab-option {
    flex-flow: column nowrap;
    justify-content: space-between;
    flex: 1 1 0;
    margin: 0 2px;
    padding: 1.5rem;
  }
}

.lab-option a {
  color: #3a72bc;
  font-weight: normal;
}

.lab-option a:hover {
  text-decoration: none;
}

.lab-option:before {
  display: block;
  content: "N";
  width: 36px;
  height: 36px;
  flex: 36px 0 0;
  margin: 0 10px 0 0;
  font-family: "ElegantIcons";
  line-height: 36px;
  text-align: center;
  border-radius: 18px;
  color: #fff;
  background-color: #e2e2e2;
}

@media screen and (min-width: 768px) {
  .lab-option:before {
    order: 3;
    margin: 0 auto;
  }
}

.lab-option:hover {
  background-color: #fff;
  cursor: pointer;
}

.lab-option:hover:before,
.lab-option:active:before {
  color: #fff;
  background-color: #3a72bc;
}

.lab-option h2 {
  font-size: 1.2rem;
}

.lab-option h3 {
  font-size: 1rem;
}

.lab-option h2,
.lab-option h3 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  text-align: left;
  max-width: calc(100% - 46px);
}

@media screen and (min-width: 768px) {
  .lab-option h2,
  .lab-option h3 {
    text-align: center;
    max-width: unset;
  }
}

.lab-status,
.lab-status-waiting,
.lab-status-denied,
.lab-status-approved {
  color: inherit;
}

.lab-status:before,
.lab-status-waiting:before,
.lab-status-denied:before,
.lab-status-approved:before {
  color: #fff;
}

.lab-status h2,
.lab-status-waiting h2,
.lab-status-denied h2,
.lab-status-approved h2 {
  color: #fff;
  padding: 6px;
  border-radius: 2px;
}

.lab-status-approved:hover {
  background-color: #b3e6b3;
}

.lab-status-approved:before,
.lab-status-approved:hover:before {
  content: "\E0DD";
  background-color: #66cc66;
}

.lab-status-approved h2 {
  background-color: #66cc66;
}

.lab-status-denied:hover {
  background-color: #e69999;
}

.lab-status-denied:before,
.lab-status-denied:hover:before {
  content: "\E0F1";
  background-color: #cc3333;
}

.lab-status-denied h2 {
  background-color: #cc3333;
}

.lab-status-waiting:hover {
  background-color: #e6cc99;
}

.lab-status-waiting:before,
.lab-status-waiting:hover:before {
  content: "\E02D";
  background-color: #cc9933;
}

.lab-status-waiting h2 {
  background-color: #cc9933;
}

.lab-option-detail {
  display: none;
  font-size: 0.85rem;
  text-align: left;
  padding-left: 46px;
}

@media screen and (min-width: 768px) {
  .lab-option-detail {
    display: block;
    text-align: center;
    padding-left: 0;
  }
}

.lab-option-detail .label {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.7rem;
}

#termos {
  padding: 5%;
  width: 90%;
  margin: 0 auto;
}

#termos * {
  box-sizing: border-box;
}

#termos .title {
  text-align: center;
}

#termos .description {
  font-size: 1.1rem;
  text-align: center;
}

#termos .termos-warning {
  font-size: 0.9rem;
  text-align: center;
  color: #856404;
}

#termos .buttons {
  display: flex;
  justify-content: center;
  margin: 2%;
}

@media screen and (max-width: 768px) {
  #termos .buttons {
    margin: 5%;
  }
}

#termos .btn-prosseguir {
  width: 40%;
  height: 60px;
  color: white;
  border-radius: 10px;
  transition: 0.5s;
  background-color: #3a72bc;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  #termos .btn-prosseguir {
    width: 95%;
  }
}

#termos .btn-prosseguir:hover {
  background-color: white;
  color: #3a72bc;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem #3a72bc;
}

#termos .list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  padding: 0;
  width: 95%;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  list-style: none;
  overflow: hidden;
}

#termos .list .list-item {
  margin: 0;
  padding: 0;
  border-bottom: 4px solid #ecf0f1;
  position: relative;
}

#termos .list .list-item:last-child {
  border: 0;
}

#termos .hidden-box {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  opacity: 0;
}

#termos .check-label {
  font-size: 1rem;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

#termos .check-label-box {
  display: flex;
  align-self: center;
  position: relative;
  height: 20px;
  width: 20px;
  margin: 0 20px;
  border: 2px solid #3a72bc;
  border-radius: 2px;
  cursor: pointer;
}

#termos .check-label-text {
  display: flex;
  align-self: center;
  position: relative;
  cursor: pointer;
  padding: 20px;
  width: 90%;
  border-left: 2px solid #ecf0f1;
}

#termos .check-label-text:after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 70%;
  left: 7.5%;
  transform: translateY(-50%);
  transition: width 100ms ease-in-out;
}

#termos .hidden-box:checked + .check-label {
  background-color: #3a72bc52;
}

#termos .hidden-box:checked + .check-label .check-label-box {
  background-color: #3a72bc;
}

#termos .hidden-box:checked + .check-label .check-label-box:after {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  left: 4px;
  width: 5px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

#termos .modal {
  display: none;
  position: fixed;
  z-index: 1;
  background-color: transparent;
  border: none !important;
  box-shadow: none !important;
}

@media screen and (max-width: 768px) {
  #termos .modal {
    top: 10%;
  }
}

#termos .modal-content {
  background-color: #fff3cd !important;
  color: #856404 !important;
  margin: 15% auto;
  text-align: center;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border: none;
  border-radius: 10px;
  border-top: 4px solid #3a72bc;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

#termos .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#termos .close:hover,
#termos .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#selecionar-agentes .title-section {
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 80%;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  background: #639FF9;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
  #selecionar-agentes .title-section {
    font-size: 16px;
  }
}

#selecionar-agentes #agentes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

#selecionar-agentes #agentes p {
  margin-bottom: 0 !important;
}

#selecionar-agentes #agentes .wrapper {
  flex: 1 0 40%;
  width: 200px;
  cursor: pointer;
  background: #FDFEFF;
  transition: all 0.4s ease-in-out;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
}

#selecionar-agentes #agentes .wrapper .profile {
  margin-top: 0.2em;
  position: relative;
}

#selecionar-agentes #agentes .wrapper .profile .thumbnail {
  width: 124px;
  height: 124px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
  border-radius: 100%;
  box-shadow: 0 13px 26px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.2);
}

#selecionar-agentes #agentes .wrapper .profile .name {
  color: #2D354A;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

#selecionar-agentes #agentes .wrapper .profile .title {
  color: #7C8097;
  font-size: 0.75em;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

#selecionar-agentes #agentes .wrapper .profile .description {
  color: #080911;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 0.8em;
}

#selecionar-agentes .btn {
  color: #fff;
  width: 130px;
  height: 42px;
  outline: none;
  border: none;
  display: block;
  cursor: pointer;
  font-weight: 300;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 70px;
  box-shadow: 0 13px 26px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.16);
  background: linear-gradient(to bottom right, #3a72bc, #639FF9);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  background-color: transparent;
  border: none !important;
  box-shadow: none !important;
}

@media screen and (max-width: 768px) {
  .modal {
    top: 10%;
  }
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  text-align: center;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border: none;
  border-radius: 10px;
  border-top: 4px solid #3a72bc;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.selected-card {
  transform: scale(1.05);
  background: rgba(99, 159, 249, 0.2) !important;
}

@media screen and (max-width: 1366px) and (min-width: 768px) {
  .main-content {
    width: 100% !important;
    margin-left: 0;
    margin-right: 0;
  }
}

