// Component schema (HTML schema for block usage)
// <element class="status-card"> 
//      <element class="status-card--title"> This is the opcional title </element>
//      <element class="status-card--content"> This is the opcional content </element>
// </element>

.status-card {
    @extend .card;
    background-color: $brand-primary;
    color: $light;
    display: block;
    font-size: $font-size-base;
    line-height: 1.4;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 20px 15px;
    text-align: center;

    &--primary,
    &.status-1 {
        @extend .status-card;
        background-color: var(--status-1-background);
    }

    &--secondary,
    &.status-10 {
        @extend .status-card;
        background-color: var(--status-10-background);
    }

    &--tertiary,
    &.status-2{
        @extend .status-card;
        background-color: var(--status-2-background);
    }

    &.status-3 {
        @extend .status-card;
        background-color: var(--status-3-background);
    }

    &--quaternary,
    &.status-8 {
        @extend .status-card;
        background-color: var(--status-8-background);
    }

    &--title {
        color: $light;
        font-size: $font-size-base;
        font-weight: bold;
        line-height: 1.4;
        margin: 0 0 10px;
        padding: 0;
    }

    &--content {
        color: $light;
        font-size: 14px;
        font-family: $f_body;
        line-height: 1.4;
        margin: 0;
        padding: 0;

        a {
            color: $light;
            font-weight: bold;
        }
    }

    hr {
        border: 0;
        border-top: 1px solid $light;
        height: 0;
        margin: 1.5rem 0;

        &:nth-last-of-type(1) {
            display: none;
        }
    }

}